# SPDX-FileCopyrightText: Copyright contributors to the Software Quality Assurance as a Service (SQAaaS) project <sqaaas@ibergrid.eu>
# SPDX-FileCopyrightText: 2017-2024 Pablo Orviz <orviz@ifca.unican.es>
#
# SPDX-License-Identifier: GPL-3.0-only

black
isort
pre-commit
flake8
mypy
git+https://github.com/orviz/docformatter@lists_in_ini_files#egg=docformatter
reuse
