config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: 1.3.0
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
sqa_criteria:
  QC.Sty:
    repos:
      this_repo:
        commands:
        - flake8 qc_*
        container: qc.sty_skinny-corn-llama
  QC.Sec:
    repos:
      this_repo:
        commands:
        - bandit -r qc_* --severity-level high --confidence-level high
        container: qc.sec_bandit
  QC.Uni:
    repos:
      this_repo:
        commands:
        - /usr/bin/env sh .sqa/script.pytest.sh
        container: qc.uni_pytest
timeout: 600
