# SPDX-FileCopyrightText: Copyright contributors to the Software Quality Assurance as a Service (SQAaaS) project.
#
# SPDX-License-Identifier: GPL-3.0-or-later

pytest>=6.2.5
pytest-dependency>=0.5.1
# report2sqaaas == 1.2.0
git+https://github.com/EOSC-synergy/sqaaas-reporting@1.2.0#egg=report2sqaaas
black
isort
